# Projet

### Description du projet
    - Création d'une application Web vous basant sur le package Flask.
    - Récupération des données sur le web scrapées grâce à ce que vous aurez appris durant ce cours.
    - Affichage des données de façon optimale, moteur de recherche, graphiques, etc. 
    - Utilisation d'une ou plusieurs bases de données abordées dans ce cours. 
    - Création d'une documentation technique et fonctionnelle.  
    
### Description 
    -Site utilisé : https://www.allocine.fr/
    -robot.txt : https://www.allocine.fr/robots.txt
    
    -Récupération d'informations possibles : 
        (Scrap#1) Page : Top film (10x30 films par pages) : 
            Date/Durée/Genre/Note presse/Note spectateur/Nombre de votes/Synopsis/Budget/Langue/Nombre Récompense/Distributeur/Casting Principal/Réalisateur/Top critique Spectateur
            (Scrap#2) Page Casting pour avoir la liste complète
            (Scrap#3) Page des récompenses pour avoir le détail
        (Scrap#1) Page : Films à l'affiche : Même données
            (Scrap#4) Page Du box office pour relier à l'affiche 
        (Scrap#1) Page : Tous les films trié par popularité/Note presse/Note pop (15 films par page)
    -Possible utilisation des données offrant une plus value avec ou sans graphe
        -Histogramme des moyennes de note(pop ou presse)/Nombre de critique des films d'un réalisateur par année de sortie
        -Diagramme circulaire des genres de film à l'affiche
        -Graphe de l'évolution de box office d'un film à l'affiche sur la dernière semaine (à vérifier)
        -Liste de film par paire de membre de casting 
        -Autres à définir

    -Scraping : Utilisation de Scrapy préféré

### Objectif :
    -Choisir ce que l'on veut récupérer comme données
    -Prendre en compte le robot.txt
    -Récupération des données
    -En faire une base de donnée 
    -Nettoyer la base de donnée
    -Mettre en relation les bases de données (si plusieurs)
    -Manipuler les données
    -Faire la page web 
    -Faire la page web de manière interactive
    

### Questions :
    -Est-ce que l'on peut utiliser Dash pour la page Flask ? 
    -Comment interpréter le robot.txt
    -La documentation c'est un User guide + Developpeur Guide ou c'est un rapport des étapes/difficultés etc...
    -Plus value nécessaire ?
    
### Réponse :

Par rapport à la valeur ajouté il faudrait ajouter quelque chose qui existe ailleur
Faudrait rassembler les données de allociné et les lier aux données d’autres sites internets 
Exemple : 
Si on récupère le casting d’allociné on peut ajouter un scrap twitter pour associer au nombre de follower, on peut alors voir les films avec le plus de follower d’acteur et essayer de faire des liaisons théoriques
Ca peut être autre chose et pas que des réseaux sociaux 
=> faut ajouter une dimension/introduire une notion qui n’existe pas ailleur
=> Un peu du bonus mais très cool à faire ne plus

Comment relier le nom des acteurs aux twitter ?
	=> Moteur de recherche, on récupère le pseudo, on va sur la page twitter puis les foll
	=> Rechercher un site qui recense les page twitter des personnalités 
	=> 

Est-ce que l’on peut utiliser dash ? 
=> Attendre les conseilles de Raphaël 


Comment interpréter le robot.txt 
=> Rien n’est interdit, c’est juste que le site n’aimerait pas trop mais voilà on fait pas de bénéfices derrières donc on peut y aller


## Récupération des données

In [229]:
#Vérification de l'installation de scrapy et importation
#!pip install scrapy

In [230]:
import scrapy
import pandas as pd
import numpy as np
import pymongo
import unicodedata

## Projet stade

### Scraper allociné
Prochaine étape : 
 #####  - ✓ Faire la commande pour récupérer la liste des titres dans la page meilleur film
Dans le shell : <br>
scrapy shell "https://www.allocine.fr/film/meilleurs/" <br>
On a la liste des titres en marquant  <br>
[response.css("#content-layout .mdl")[i].css("a::text").extract_first() for i in range (10)] <br>
 #####  - ✓ Faire la class pour récupérer les titres + lien de la page des films 
 Classe faite => Projet/newscrawler/newscrawler/spiders/besttitlev1 <br>
 Activation : cmd dans la page projet spider puis : scrapy crawl besttitlev1 <br>
 Activation + save : cmd dans la page projet puis : scrapy crawl besttitlev1 -o titlelink.csv <br>
 
 #####  - ✓ Faire  la commande pour scrap des informations recherchés sur chaque lien
 Check dans la classe <br>
 #####  - ✓ Faire la class de ce nouveau scrap 
 ######  ✓ Version 2
 Classe faite => Projet/newscrawler/newscrawler/spiders/besttitlev2 <br>
 Permet d'avoir les informations souhaitées mais une partie est stockée dans un fichier json <br>
 La liste de liens de film est pris sur fichier csv de besttitlev1 <br>
 La class n'est donc pas indépendante <br>
 ######  ✓ Version 3
 Classe faite => Projet/newscrawler/newscrawler/spiders/besttitlev3 <br>
 Permet d'avoir proprement le titre, le synopsis, la date, la duree, le genre, le casting, le réalisateur, le nombre de note, le nombre de critique, la note publique, la note de press <br>
 La liste de liens de film est pris sur fichier csv de besttitlev1 <br>
 La class n'est donc pas indépendante <br>
 Soucis au niveau des notes de presse absente qui font que 16 films ne passent pas <br>
 ###### ✓Version  4
 Objectif est de pouvoir avoir la fusion entre la version 1 et la version 3 de manière à ce que seule la version 4 soit nécessaire <br>
 Object est également de virer le problème de la note de presse et des 16 films qui ne passent pas <br>
 Classe faite => Projet/newscrawler/newscrawler/spiders/besttitlev3 <br>
 Il manque juste le soucis de la note de presse <br>
 
 
 
 ###  - Scraper boxoffice mojo
 ###  - Mise en place dans une base de donnée Mongodb
 ### - Mise en place du site Flask

In [231]:
client = pymongo.MongoClient("mongo")
database = client['projet']
collection = database['movies']

In [232]:
df_movies = pd.read_csv("./newscrawler/rsltmoviesv1.csv")
print(df_movies.shape)
df_movies.head(50)

(271, 18)

,title,titleint,catinfo,synop,genre,date,duree,cast,real,nbrnote,nbrcrit,notepub,notepre,titleen,budget,boxdom,boxint,boxtot
0,Psychose,Psycho,Titre original,Marion Crane en a assez de ne pouvoir mener sa...,"Thriller,Epouvante-horreur",2 novembre 1960,1h 49min,"Anthony Perkins,Janet Leigh,John Gavin,Vera Miles",Alfred Hitchcock,26635,1127,"4,4","4,5",Psycho,"$806,947","$32,000,000","$40,242","$32,040,242"
1,Mustang,Ad Vitam,Distributeur,C'est le début de l'été. Dans un village recul...,Drame,17 juin 2015,1h 33min,"Güneş Nezihe Şensoy,Doğa Zeynep Doğuşlu,Elit İ...",Deniz Gamze Ergüven,6713,456,"4,3","4,0",The Mustang,NaN,"$5,043,620","$1,362,196","$6,405,816"
2,Sueurs froides,Vertigo,Titre original,"Scottie est sujet au vertige, ce qui lui porte...","Thriller,Drame",30 janvier 1959,2h 09min,"James Stewart,Kim Novak,Barbara Bel Geddes,Hen...",Alfred Hitchcock,10825,600,"4,3","3,8",Vertigo,NaN,"$7,705,225","$92,075","$7,797,300"
3,Le Discours d'un roi,The King's Speech,Titre original,D’après l’histoire vraie et méconnue du père d...,"Biopic,Historique,Drame",2 février 2011,1h 58min,"Colin Firth,Helena Bonham Carter,Derek Jacobi,...",Tom Hooper,31288,2565,"4,3","4,0",The King's Speech,"$15,000,000","$138,797,449","$288,576,868","$427,374,317"
4,The Greatest Showman,Twentieth Century Fox France,Distributeur,The Greatest Showman célèbre la naissance du s...,"Drame,Comédie musicale",24 janvier 2018,1h 44min,"Hugh Jackman,Zac Efron,Michelle Williams,Rebec...",Michael Gracey,8779,849,"4,3","2,7",The Greatest Showman,"$84,000,000","$174,340,174","$260,769,981","$435,110,155"
5,Demain Tout Commence,Mars Films,Distributeur,Samuel vit sa vie sans attaches ni responsabil...,"Comédie,Drame",7 décembre 2016,1h 58min,"Omar Sy,Gloria Colston,Clémence Poésy,Antoine ...",Hugo Gélin,11045,863,"4,3","3,2",Demain tout commence,NaN,A bachelor enjoys his sweet life on the French...,"$49,619,118","$49,619,118"
6,Retour vers le futur,Back to the Future,Titre original,1985. Le jeune Marty McFly mène une existence ...,"Science fiction,Aventure",30 octobre 1985,1h 56min,"Michael J. Fox,Christopher Lloyd,Lea Thompson,...",Robert Zemeckis,78294,1999,"4,4","3,6",Back to the Future,"$19,000,000","$211,406,762","$170,500,000","$381,109,762"
7,Les Temps modernes,Modern Times,Titre original,Charlot est ouvrier dans une immense usine. Il...,"Romance,Comédie dramatique",13 mars 1936,1h 27min,"Charles Chaplin,Paulette Goddard,Henry Bergman...",Charles Chaplin,26968,811,"4,4","4,6",Modern Times,NaN,"$163,577","$294,111","$457,688"
8,Call Me By Your Name,Sony Pictures Releasing France,Distributeur,"Été 1983. Elio Perlman, 17 ans, passe ses vaca...","Drame,Romance",28 février 2018,2h 11min,"Armie Hammer,Timothée Chalamet,Michael Stuhlba...",Luca Guadagnino,7200,528,"4,3","4,2",Call Me by Your Name,NaN,"$18,095,701","$23,792,959","$41,888,660"
9,Star Wars : Episode VI - Le Retour du Jedi,Star Wars: Episode VI - Return of the Jedi,Titre original,L'Empire galactique est plus puissant que jama...,"Science fiction,Aventure",19 octobre 1983,2h 13min,"Mark Hamill,Harrison Ford,Carrie Fisher,Billy ...",Richard Marquand,65009,1629,"4,4","3,0",Star Wars: Episode VI - Return of the Jedi,"$32,500,000","$309,306,177","$122,009,457","$475,106,177"
10,Le Dictateur,The Great Dictator,Titre original,Dans le ghetto juif vit un petit barbier qui r...,Comédie,4 avril 1945,2h 05min,"Charles Chaplin,Jack Oakie,Paulette Goddard,Re...",Charles Chaplin,25029,766,"4,4","5,0",The Great Dictator,NaN,Dictator Adenoid Hynkel tries to expand his em...,"$969,879","$969,879"
11,Midnight Express,Columbia Films,Distributeur,"Billy Hayes, touriste en Turquie, est arrêté à...",Drame,1 septembre 1978,2h 00min,"Brad Davis,Irene Miracle,Bo Hopkins,Paolo Bona...",Alan Parker,19863,882,"4,3","2,0",Midnight Express,"$2,300,000",", an American college student, is caught smugg...",NaN,"$35,000,000"
12,Là-haut,Up,Titre original,NaN,"Animation,Famille,Fantastique",29 juillet 2009,1h 35min,NaN,Pete Docter,44784,2363,"4,3","4,6",Up,"$175,000,000","$293,004,164","$442,094,938","$735,099,102"
13,Dofus - Livre 1 : Julith,Gebeka Films,Distributeur,"Dans la majestueuse cité de Bonta, Joris coule...",Animation,28 janvier 2016,1h 47min,"Sauvane Delanoe,Emmanuel Gradi,Laetitia Lefebvre",Anthony Roux,1702,329,"4,3","2,8",Dofus - Livre 1: Julith,NaN,The strange little guy in the blue hood is wel...,"$13,804","$13,804"
14,Dragons 2,How to Train Your Dragon 2,Titre original,"Tandis qu’Astrid, Rustik et le reste de la ban...","Animation,Aventure,Famille",2 juillet 2014,1h 43min,NaN,Dean DeBlois,16458,1210,"4,3","4,0",How to Train Your Dragon 2,"$145,000,000","$177,002,924","$444,534,595","$621,537,519"
15,Elephant Man,The Elephant Man,Titre original,"Londres, 1884. Le chirurgien Frederick Treves ...","Drame,Biopic",8 avril 1981,2h 05min,"Anthony Hopkins,John Hurt,Anne Bancroft,John G...",David Lynch,22626,1003,"4,3","4,8",The Elephant Man,NaN,"$26,010,864","$12,597","$26,023,461"
16,N'oublie jamais,The Notebook,Titre original,"Atteinte de la maladie d'Alzheimer, Allie vit ...","Drame,Romance",8 septembre 2004,2h 01min,"Ryan Gosling,Rachel McAdams,James Garner,Gena ...",Nick Cassavetes,15318,932,"4,3","2,6",The Notebook,"$29,000,000","$81,001,787","$36,813,370","$117,815,157"
17,Amadeus,Warner Bros. France,Distributeur,"A Vienne, en novembre 1823. Au coeur de la nui...","Comédie dramatique,Historique",31 octobre 1984,3h 00min,"Tom Hulce,F. Murray Abraham,Elizabeth Berridge...",Milos Forman,20371,898,"4,3","4,5",Amadeus,NaN,"$51,973,029","$93,762","$52,066,791"
18,Old Boy,Oldeuboi,Titre original,"A la fin des années 80, Oh Dae-Soo, père de fa...","Thriller,Drame,Action",29 septembre 2004,1h 59min,"Min-sik Choi,Yoo Ji-tae,Kang Hye-Jeong,Ji Dae-Han",Park Chan-Wook,23001,1600,"4,3","4,0",Oldboy,NaN,"$707,481","$14,294,635","$15,002,116"
19,American History X,Metropolitan FilmExport,Distributeur,"A travers l'histoire d'une famille américaine,...",Drame,3 mars 1999,1h 59min,"Edward Norton,Edward Furlong,Elliott Gould,Sta...",Tony Kaye,63125,2264,"4,4","2,8",American History X,"$20,000,000","$6,719,864","$17,155,263","$23,875,127"
20,Intouchables,Gaumont Distribution,Distributeur,"A la suite d’un accident de parapente, Philipp...",Drame,2 novembre 2011,1h 52min,"François Cluzet,Omar Sy,Anne Le Ny,Audrey Fleurot",Eric Toledano,104054,8059,"4,4","3,7",The Intouchables,NaN,"$10,198,820","$416,389,690","$426,588,510"
21,Bohemian Rhapsody,Twentieth Century Fox France,Distributeur,Bohemian Rhapsody retrace le destin extraordin...,"Biopic,Drame",31 octobre 2018,2h 15min,"Rami Malek,Gwilym Lee,Lucy Boynton,Ben Hardy",Bryan Singer,31396,2257,"4,4","3,0",Bohemian Rhapsody,"$52,000,000","$216,668,042","$687,945,336","$904,613,378"
22,Whiplash,Ad Vitam,Distributeur,"Andrew, 19 ans, rêve de devenir l’un des meill...","Drame,Musical",24 décembre 2014,1h 47min,"Miles Teller,J.K. Simmons,Paul Reiser,Melissa ...",Damien Chazelle,23974,1314,"4,4","4,1",Whiplash,"$3,300,000","$13,092,000","$36,304,747","$49,396,747"
23,Les Indestructibles 2,The Incredibles 2,Titre original,Notre famille de super-héros préférée est de r...,"Animation,Famille,Aventure",4 juillet 2018,1h 58min,NaN,Brad Bird,10982,524,"4,3","4,2",Incredibles 2,NaN,"$608,581,744","$634,507,500","$1,243,089,244"
24,My Name Is Khan,Twentieth Century Fox France,Distributeur,Rizvan Khan est un enfant musulman qui a grand...,"Drame,Bollywood",26 mai 2010,2h 40min,"Shah Rukh Khan,Kajol Devgn,Shane Harper,Mel Fair",Karan Johar,956,236,"4,3","3,4",My Name Is Khan,NaN,"$4,018,771","$38,326,589","$42,345,360"
25,Slumdog Millionaire,Pathé,Distributeur,"Jamal Malik, 18 ans, orphelin vivant dans les ...","Comédie dramatique,Comédie,Romance",14 janvier 2009,2h 00min,"Dev Patel,Freida Pinto,Mia Drake,Anil Kapoor",Danny Boyle,51296,2985,"4,3","3,5",Slumdog Millionaire,"$15,000,000","$141,319,928","$237,090,614","$378,410,542"
26,Million Dollar Baby,Mars Distribution,Distributeur,"Rejeté depuis longtemps par sa fille, l'entraî...",Drame,23 mars 2005,2h 12min,"Clint Eastwood,Morgan Freeman,Hilary Swank,Jay...",Clint Eastwood,68312,3007,"4,4","4,9",Million Dollar Baby,"$30,000,000","$100,492,203","$116,271,443","$216,763,646"
27,Le Chant du Loup,Pathé,Distributeur,Un jeune homme a le don rare de reconnaître ch...,"Thriller,Guerre,Action",20 février 2019,1h 56min,"François Civil,Omar Sy,Mathieu Kassovitz,Reda ...",Antonin Baudry,17309,1445,"4,3","3,5",Le chant du loup,NaN,"In the near future, a French submarine finds i...","$12,652,790","$12,652,790"
28,Harakiri,Seppuku,Titre original,"Au XVIIe siècle, le Japon n'est plus en guerre...",Drame,24 juillet 1963,2h 15min,"Tatsuya Nakadai,Shima Iwashita,Akira Ishihama,...",Masaki Kobayashi,534,58,"4,3","4,6",Hara-Kiri,NaN,When a ronin requesting seppuku at a feudal lo...,"$15,222","$15,222"
29,La Grande évasion,The Great Escape,Titre original,"Durant la Seconde Guerre Mondiale, des officie...","Aventure,Drame",11 septembre 1963,2h 49min,"Steve McQueen,Charles Bronson,James Donald,Don...",John Sturges,11201,381,"4,3","3,8",The Great Escape,NaN,Allied prisoners of war plan for several hundr...,"$227,940","$227,940"
30,L'Insulte,Diaphana Distribution,Distributeur,"A Beyrouth, de nos jours, une insulte qui dégé...",Drame,31 janvier 2018,1h 49min,"Adel Karam,Kamel El Basha,Diamand Abou Abboud,...",Ziad Doueiri,1396,153,"4,3","3,8",The Insult,NaN,"$1,001,305","$2,600,298","$3,601,603"
31,"3 Billboards, Les Panneaux de la vengeance","Three Billboards Outside Ebbing, Missouri",Titre original,Après des mois sans que l'enquête sur la mort ...,Drame,17 janvier 2018,1h 56min,"Frances McDormand,Woody Harrelson,Sam Rockwell...",Martin McDonagh,10757,757,"4,3","3,9","Three Billboards Outside Ebbing, Missouri",NaN,"$54,513,740","$105,678,291","$160,192,031"
32,Rain Man,United International Pictures (UIP),Distributeur,"A la mort de son père, Charlie Babbitt, homme ...",Comédie dramatique,15 mars 1989,2h 13min,"Dustin Hoffman,Tom Cruise,Valeria Golino,Jerry...",Barry Levinson,38520,937,"4,3","3,6",Rain Man,"$25,000,000","$172,825,435","$182,000,000","$354,825,435"
33,Hatchi,Hachi: A Dog's Tale,Titre original,"Pour Parker, professeur de musique à l'univers...","Drame,Famille",9 juin 2010,1h 33min,"Richard Gere,Joan Allen,Sarah Roemer,Cary-Hiro...",Lasse Hallström,4562,1039,"4,3","2,2",Hachi: A Dog's Tale,NaN,A college professor bonds with an abandoned do...,"$46,749,646","$46,749,646"
34,Toy Story 4,The Walt Disney Company France,Distributeur,Woody a toujours privilégié la joie et le bien...,"Animation,Aventure,Famille,Comédie",26 juin 2019,1h 40min,NaN,Josh Cooley,9086,577,"4,3","4,2",Toy Story 4,"$200,000,000","$434,038,008","$639,356,585","$1,073,394,593"
35,E.T. l'extra-terrestre,E.T. The Extra-Terrestrial,Titre original,Une soucoupe volante atterrit en pleine nuit p...,"Science fiction,Famille,Aventure",1 décembre 1982,2h 00min,"Henry Thomas,Drew Barrymore,Dee Wallace,Peter ...",Steven Spielberg,57249,1253,"4,3","4,8",E.T. the Extra-Terrestrial,"$10,500,000","$435,110,554","$304,203,888","$792,910,554"
36,Le Prestige,The Prestige,Titre original,"Londres, au début du siècle dernier... Robert ...","Thriller,Drame",15 novembre 2006,2h 08min,"Hugh Jackman,Christian Bale,Michael Caine,Scar...",Christopher Nolan,35297,2809,"4,3","3,2",The Prestige,"$40,000,000","$53,089,891","$56,586,420","$109,676,311"
37,La Vie est belle,La vita e bella,Titre original,"En 1938, Guido, jeune homme plein de gaieté, r...","Drame,Comédie",21 octobre 1998,1h 57min,"Roberto Benigni,Horst Buchholz,Marisa Paredes,...",Roberto Benigni,56636,1620,"4,4","3,7",Life Is Beautiful,NaN,"$57,563,264","$172,535,489","$230,098,753"
38,Quand passent les cigognes,Letyat Zhuravli,Titre original,"Moscou, 1941. Veronika et Boris sont éperdumen...","Drame,Guerre,Romance",11 juin 1958,1h 37min,"Tatiana Samoilova,Aleksey Batalov,Vasili Merku...",Mikhail Kalatozov,465,66,"4,3","4,2",The Cranes Are Flying,NaN,"Veronica plans a rendezvous with her lover, Bo...",NaN,"$17,923"
39,Tu ne tueras point,Hacksaw Ridge,Titre original,"Quand la Seconde Guerre mondiale a éclaté, Des...","Drame,Biopic",9 novembre 2016,2h 20min,"Andrew Garfield,Vince Vaughn,Teresa Palmer,Sam...",Mel Gibson,18316,1058,"4,4","3,0",Hacksaw Ridge,"$40,000,000","$67,209,615","$113,241,303","$180,450,918"
40,Usual Suspects,The Usual Suspects,Titre original,"Suite à une mystérieuse dénonciation, cinq cri...","Policier,Thriller",19 juillet 1995,1h 46min,"Chazz Palminteri,Kevin Spacey,Gabriel Byrne,Be...",Bryan Singer,51673,2041,"4,5","4,6",The Usual Suspects,"$6,000,000",A sole survivor tells of the twisty events lea...,NaN,"$23,341,568"
41,Vol au-dessus d'un nid de coucou,One Flew Over the Cuckoo's Nest,Titre original,Rebellion dans un hôpital psychiatrique à l'in...,Drame,1 mars 1976,2h 09min,"Michael Berryman,Dean R. Brooks,Jack Nicholson...",Milos Forman,37799,1364,"4,5","5,0",One Flew Over the Cuckoo's Nest,"$3,000,000","$108,981,275","$16,354","$108,997,629"
42,Inception,Warner Bros. France,Distributeur,Dom Cobb est un voleur expérimenté – le meille...,"Science fiction,Thriller",21 juillet 2010,2h 28min,"Leonardo DiCaprio,Marion Cotillard,Elliot Page...",Christopher Nolan,96978,8526,"4,5","4,1",Inception,"$160,000,000","$292,576,195","$544,260,772","$836,836,967"
43,Your Name,Kimi no na wa.,Titre original,"Mitsuha, adolescente coincée dans une famille ...","Animation,Fantastique",28 décembre 2016,1h 50min,NaN,Makoto Shinkai,10988,627,"4,5","4,0",Your Name.,NaN,"$5,017,246","$352,968,841","$357,986,087"
44,"The Dark Knight, Le Chevalier Noir",The Dark Knight,Titre original,"Dans ce nouveau volet, Batman augmente les mis...","Action,Thriller",13 août 2008,2h 32min,"Christian Bale,Heath Ledger,Aaron Eckhart,Magg...",Christopher Nolan,91527,6455,"4,5","4,0",The Dark Knight,"$185,000,000","$534,858,444","$471,115,201","$1,005,973,645"
45,12 hommes en colère,Twelve Angry Men,Titre original,Un jeune homme d'origine modeste est accusé du...,Drame,4 septembre 1957,1h 35min,"Henry Fonda,Martin Balsam,John Fiedler,Lee J. ...",Sidney Lumet,17170,807,"4,5","5,0",12 Angry Men,NaN,A jury holdout attempts to prevent a miscarria...,$955,$955
46,Le Parrain,The Godfather,Titre original,"En 1945, à New York, les Corleone sont une des...","Policier,Drame",18 octobre 1972,2h 55min,"Marlon Brando,Al Pacino,James Caan,Robert Duvall",Francis Ford Coppola,49869,1856,"4,5","4,6",The Godfather,"$6,000,000","$134,966,411","$111,154,575","$246,120,986"
47,Les Evadés,The Shawshank Redemption,Titre original,"En 1947, Andy Dufresne, un jeune banquier, est...",Drame,1 mars 1995,2h 20min,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,51426,1881,"4,5","3,2",The Shawshank Redemption,"$25,000,000","$28,699,976","$117,315","$28,817,291"
48,La Liste de Schindler,Schindler's List,Titre original,Evocation des années de guerre d'Oskar Schindl...,"Historique,Guerre",2 mars 1994,3h 15min,"Liam Neeson,Ben Kingsley,Ralph Fiennes,Carolin...",Steven Spielberg,56947,1904,"4,6","4,2",Schindler's List,"$22,000,000","$96,898,818","$225,262,427","$322,161,245"
49,Il était une fois en Amérique,Once Upon a Time in America,Titre original,"Il était une fois deux truands juifs, Max et N...","Drame,Policier",23 mai 1984,4h 11min,"Robert De Niro,James Woods,Elizabeth McGovern,...",Sergio Leone,19539,1093,"4,5","4,9",Once Upon a Time in America,NaN,"$5,321,508","$151,406","$5,472,914"

In [233]:
#Nettoyage de la base de donnée

#Nettoyage de la partie allociné
for i in range (df_movies.shape[0]):
    if (df_movies["catinfo"][i] != ' Titre original '):
        df_movies["titleint"][i] = unicodedata.normalize('NFD', df_movies["title"][i]).encode('ascii', 'ignore').decode('utf-8')
df_movies = df_movies.drop(columns=['catinfo'])

#Nettoyage de la partie boxofficemojo
for i in range (df_movies.shape[0]): 
    if ((df_movies['boxint'][i] == df_movies['boxtot'][i]) and ('$' not in df_movies['boxdom'][i][0])):
        df_movies['boxdom'][i] = np.NaN
    if ((type(df_movies['boxint'][i]) == float) and ('$' not in df_movies['boxdom'][i])):
        df_movies['boxdom'][i] = df_movies['boxtot'][i]
        df_movies['boxint'][i] = np.NaN
        
#Mise en forme
df_movies['rent'] = pd.Series(np.NaN, index=df_movies.index)
for i in range (df_movies.shape[0]):
    #Mise en place de la colonne rentabilité
    if (type(df_movies['boxtot'][i]) == float or type(df_movies['budget'][i]) == float):
        df_movies['rent'][i] = np.NaN
    else:
        df_movies['rent'][i] = float(df_movies['boxtot'][i][1:].replace(',','')) - float(df_movies['budget'][i][1:].replace(',',''))

    #Séparation des genres en liste de genre et non une string de genre
    df_movies['genre'][i] = df_movies['genre'][i].split(',')  
        
    #Mise en place du format date pour la colonne date
    df_movies['date'][i] = df_movies['date'][i].replace(' ', '-')
    if ('janvier' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('janvier', '01')
    elif ('février' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('février', '02')
    elif ('mars' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('mars', '03')
    elif ('avril' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('avril', '04')
    elif ('mai' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('mai', '05')
    elif ('juin' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('juin', '06')
    elif ('juillet' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('juillet', '07')
    elif ('août' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('août', '08')
    elif ('septembre' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('septembre', '09')
    elif ('octobre' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('octobre', '10')
    elif ('novembre' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('novembre', '11')
    elif ('décembre' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('décembre', '12')
df_movies['date'] = pd.to_datetime(df_movies['date'], format='%d-%m-%Y')

<ipython-input-233-927f222e4bb9>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies["titleint"][i] = unicodedata.normalize('NFD', df_movies["title"][i]).encode('ascii', 'ignore').decode('utf-8')
<ipython-input-233-927f222e4bb9>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies['boxdom'][i] = np.NaN
<ipython-input-233-927f222e4bb9>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies['boxdom'][i] = df_movies['boxtot'][i]
<ipython-input-233-927f222e4bb9>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies['boxint'][i] = np.NaN
<ipython-input-233-927f222e4bb9>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies['rent'][i] = float(df_movies['boxtot'][i][1:].replace(',','')) - float(df_movies['budget'][i][1:].replace(',',''))
<ipython-input-233-927f222e4bb9>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies['genre'][i] = df_movies['genre'][i].split(',')
<ipython-input-233-927f222e4bb9>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies['date'][i] = df_movies['date'][i].replace(' ', '-')
<ipython-input-233-927f222e4bb9>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif ('novembre' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('novembre', '11')
<ipython-input-233-927f222e4bb9>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies['rent'][i] = np.NaN
<ipython-input-233-927f222e4bb9>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif ('juin' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('juin', '06')
<ipython-input-233-927f222e4bb9>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if ('janvier' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('janvier', '01')
<ipython-input-233-927f222e4bb9>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif ('février' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('février', '02')
<ipython-input-233-927f222e4bb9>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif ('décembre' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('décembre', '12')
<ipython-input-233-927f222e4bb9>:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif ('octobre' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('octobre', '10')
<ipython-input-233-927f222e4bb9>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif ('mars' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('mars', '03')
<ipython-input-233-927f222e4bb9>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif ('avril' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('avril', '04')
<ipython-input-233-927f222e4bb9>:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif ('septembre' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('septembre', '09')
<ipython-input-233-927f222e4bb9>:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif ('juillet' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('juillet', '07')
<ipython-input-233-927f222e4bb9>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif ('mai' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('mai', '05')
<ipython-input-233-927f222e4bb9>:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elif ('août' in df_movies['date'][i]): df_movies['date'][i] = df_movies['date'][i].replace('août', '08')

In [234]:
df_movies.head(50)

,title,titleint,synop,genre,date,duree,cast,real,nbrnote,nbrcrit,notepub,notepre,titleen,budget,boxdom,boxint,boxtot,rent
0,Psychose,Psycho,Marion Crane en a assez de ne pouvoir mener sa...,"[Thriller, Epouvante-horreur]",1960-11-02,1h 49min,"Anthony Perkins,Janet Leigh,John Gavin,Vera Miles",Alfred Hitchcock,26635,1127,"4,4","4,5",Psycho,"$806,947","$32,000,000","$40,242","$32,040,242",31233295.0
1,Mustang,Mustang,C'est le début de l'été. Dans un village recul...,[Drame],2015-06-17,1h 33min,"Güneş Nezihe Şensoy,Doğa Zeynep Doğuşlu,Elit İ...",Deniz Gamze Ergüven,6713,456,"4,3","4,0",The Mustang,NaN,"$5,043,620","$1,362,196","$6,405,816",NaN
2,Sueurs froides,Vertigo,"Scottie est sujet au vertige, ce qui lui porte...","[Thriller, Drame]",1959-01-30,2h 09min,"James Stewart,Kim Novak,Barbara Bel Geddes,Hen...",Alfred Hitchcock,10825,600,"4,3","3,8",Vertigo,NaN,"$7,705,225","$92,075","$7,797,300",NaN
3,Le Discours d'un roi,The King's Speech,D’après l’histoire vraie et méconnue du père d...,"[Biopic, Historique, Drame]",2011-02-02,1h 58min,"Colin Firth,Helena Bonham Carter,Derek Jacobi,...",Tom Hooper,31288,2565,"4,3","4,0",The King's Speech,"$15,000,000","$138,797,449","$288,576,868","$427,374,317",412374317.0
4,The Greatest Showman,The Greatest Showman,The Greatest Showman célèbre la naissance du s...,"[Drame, Comédie musicale]",2018-01-24,1h 44min,"Hugh Jackman,Zac Efron,Michelle Williams,Rebec...",Michael Gracey,8779,849,"4,3","2,7",The Greatest Showman,"$84,000,000","$174,340,174","$260,769,981","$435,110,155",351110155.0
5,Demain Tout Commence,Demain Tout Commence,Samuel vit sa vie sans attaches ni responsabil...,"[Comédie, Drame]",2016-12-07,1h 58min,"Omar Sy,Gloria Colston,Clémence Poésy,Antoine ...",Hugo Gélin,11045,863,"4,3","3,2",Demain tout commence,NaN,NaN,"$49,619,118","$49,619,118",NaN
6,Retour vers le futur,Back to the Future,1985. Le jeune Marty McFly mène une existence ...,"[Science fiction, Aventure]",1985-10-30,1h 56min,"Michael J. Fox,Christopher Lloyd,Lea Thompson,...",Robert Zemeckis,78294,1999,"4,4","3,6",Back to the Future,"$19,000,000","$211,406,762","$170,500,000","$381,109,762",362109762.0
7,Les Temps modernes,Modern Times,Charlot est ouvrier dans une immense usine. Il...,"[Romance, Comédie dramatique]",1936-03-13,1h 27min,"Charles Chaplin,Paulette Goddard,Henry Bergman...",Charles Chaplin,26968,811,"4,4","4,6",Modern Times,NaN,"$163,577","$294,111","$457,688",NaN
8,Call Me By Your Name,Call Me By Your Name,"Été 1983. Elio Perlman, 17 ans, passe ses vaca...","[Drame, Romance]",2018-02-28,2h 11min,"Armie Hammer,Timothée Chalamet,Michael Stuhlba...",Luca Guadagnino,7200,528,"4,3","4,2",Call Me by Your Name,NaN,"$18,095,701","$23,792,959","$41,888,660",NaN
9,Star Wars : Episode VI - Le Retour du Jedi,Star Wars: Episode VI - Return of the Jedi,L'Empire galactique est plus puissant que jama...,"[Science fiction, Aventure]",1983-10-19,2h 13min,"Mark Hamill,Harrison Ford,Carrie Fisher,Billy ...",Richard Marquand,65009,1629,"4,4","3,0",Star Wars: Episode VI - Return of the Jedi,"$32,500,000","$309,306,177","$122,009,457","$475,106,177",442606177.0
10,Le Dictateur,The Great Dictator,Dans le ghetto juif vit un petit barbier qui r...,[Comédie],1945-04-04,2h 05min,"Charles Chaplin,Jack Oakie,Paulette Goddard,Re...",Charles Chaplin,25029,766,"4,4","5,0",The Great Dictator,NaN,NaN,"$969,879","$969,879",NaN
11,Midnight Express,Midnight Express,"Billy Hayes, touriste en Turquie, est arrêté à...",[Drame],1978-09-01,2h 00min,"Brad Davis,Irene Miracle,Bo Hopkins,Paolo Bona...",Alan Parker,19863,882,"4,3","2,0",Midnight Express,"$2,300,000","$35,000,000",NaN,"$35,000,000",32700000.0
12,Là-haut,Up,NaN,"[Animation, Famille, Fantastique]",2009-07-29,1h 35min,NaN,Pete Docter,44784,2363,"4,3","4,6",Up,"$175,000,000","$293,004,164","$442,094,938","$735,099,102",560099102.0
13,Dofus - Livre 1 : Julith,Dofus - Livre 1 : Julith,"Dans la majestueuse cité de Bonta, Joris coule...",[Animation],2016-01-28,1h 47min,"Sauvane Delanoe,Emmanuel Gradi,Laetitia Lefebvre",Anthony Roux,1702,329,"4,3","2,8",Dofus - Livre 1: Julith,NaN,NaN,"$13,804","$13,804",NaN
14,Dragons 2,How to Train Your Dragon 2,"Tandis qu’Astrid, Rustik et le reste de la ban...","[Animation, Aventure, Famille]",2014-07-02,1h 43min,NaN,Dean DeBlois,16458,1210,"4,3","4,0",How to Train Your Dragon 2,"$145,000,000","$177,002,924","$444,534,595","$621,537,519",476537519.0
15,Elephant Man,The Elephant Man,"Londres, 1884. Le chirurgien Frederick Treves ...","[Drame, Biopic]",1981-04-08,2h 05min,"Anthony Hopkins,John Hurt,Anne Bancroft,John G...",David Lynch,22626,1003,"4,3","4,8",The Elephant Man,NaN,"$26,010,864","$12,597","$26,023,461",NaN
16,N'oublie jamais,The Notebook,"Atteinte de la maladie d'Alzheimer, Allie vit ...","[Drame, Romance]",2004-09-08,2h 01min,"Ryan Gosling,Rachel McAdams,James Garner,Gena ...",Nick Cassavetes,15318,932,"4,3","2,6",The Notebook,"$29,000,000","$81,001,787","$36,813,370","$117,815,157",88815157.0
17,Amadeus,Amadeus,"A Vienne, en novembre 1823. Au coeur de la nui...","[Comédie dramatique, Historique]",1984-10-31,3h 00min,"Tom Hulce,F. Murray Abraham,Elizabeth Berridge...",Milos Forman,20371,898,"4,3","4,5",Amadeus,NaN,"$51,973,029","$93,762","$52,066,791",NaN
18,Old Boy,Oldeuboi,"A la fin des années 80, Oh Dae-Soo, père de fa...","[Thriller, Drame, Action]",2004-09-29,1h 59min,"Min-sik Choi,Yoo Ji-tae,Kang Hye-Jeong,Ji Dae-Han",Park Chan-Wook,23001,1600,"4,3","4,0",Oldboy,NaN,"$707,481","$14,294,635","$15,002,116",NaN
19,American History X,American History X,"A travers l'histoire d'une famille américaine,...",[Drame],1999-03-03,1h 59min,"Edward Norton,Edward Furlong,Elliott Gould,Sta...",Tony Kaye,63125,2264,"4,4","2,8",American History X,"$20,000,000","$6,719,864","$17,155,263","$23,875,127",3875127.0
20,Intouchables,Intouchables,"A la suite d’un accident de parapente, Philipp...",[Drame],2011-11-02,1h 52min,"François Cluzet,Omar Sy,Anne Le Ny,Audrey Fleurot",Eric Toledano,104054,8059,"4,4","3,7",The Intouchables,NaN,"$10,198,820","$416,389,690","$426,588,510",NaN
21,Bohemian Rhapsody,Bohemian Rhapsody,Bohemian Rhapsody retrace le destin extraordin...,"[Biopic, Drame]",2018-10-31,2h 15min,"Rami Malek,Gwilym Lee,Lucy Boynton,Ben Hardy",Bryan Singer,31396,2257,"4,4","3,0",Bohemian Rhapsody,"$52,000,000","$216,668,042","$687,945,336","$904,613,378",852613378.0
22,Whiplash,Whiplash,"Andrew, 19 ans, rêve de devenir l’un des meill...","[Drame, Musical]",2014-12-24,1h 47min,"Miles Teller,J.K. Simmons,Paul Reiser,Melissa ...",Damien Chazelle,23974,1314,"4,4","4,1",Whiplash,"$3,300,000","$13,092,000","$36,304,747","$49,396,747",46096747.0
23,Les Indestructibles 2,The Incredibles 2,Notre famille de super-héros préférée est de r...,"[Animation, Famille, Aventure]",2018-07-04,1h 58min,NaN,Brad Bird,10982,524,"4,3","4,2",Incredibles 2,NaN,"$608,581,744","$634,507,500","$1,243,089,244",NaN
24,My Name Is Khan,My Name Is Khan,Rizvan Khan est un enfant musulman qui a grand...,"[Drame, Bollywood]",2010-05-26,2h 40min,"Shah Rukh Khan,Kajol Devgn,Shane Harper,Mel Fair",Karan Johar,956,236,"4,3","3,4",My Name Is Khan,NaN,"$4,018,771","$38,326,589","$42,345,360",NaN
25,Slumdog Millionaire,Slumdog Millionaire,"Jamal Malik, 18 ans, orphelin vivant dans les ...","[Comédie dramatique, Comédie, Romance]",2009-01-14,2h 00min,"Dev Patel,Freida Pinto,Mia Drake,Anil Kapoor",Danny Boyle,51296,2985,"4,3","3,5",Slumdog Millionaire,"$15,000,000","$141,319,928","$237,090,614","$378,410,542",363410542.0
26,Million Dollar Baby,Million Dollar Baby,"Rejeté depuis longtemps par sa fille, l'entraî...",[Drame],2005-03-23,2h 12min,"Clint Eastwood,Morgan Freeman,Hilary Swank,Jay...",Clint Eastwood,68312,3007,"4,4","4,9",Million Dollar Baby,"$30,000,000","$100,492,203","$116,271,443","$216,763,646",186763646.0
27,Le Chant du Loup,Le Chant du Loup,Un jeune homme a le don rare de reconnaître ch...,"[Thriller, Guerre, Action]",2019-02-20,1h 56min,"François Civil,Omar Sy,Mathieu Kassovitz,Reda ...",Antonin Baudry,17309,1445,"4,3","3,5",Le chant du loup,NaN,NaN,"$12,652,790","$12,652,790",NaN
28,Harakiri,Seppuku,"Au XVIIe siècle, le Japon n'est plus en guerre...",[Drame],1963-07-24,2h 15min,"Tatsuya Nakadai,Shima Iwashita,Akira Ishihama,...",Masaki Kobayashi,534,58,"4,3","4,6",Hara-Kiri,NaN,NaN,"$15,222","$15,222",NaN
29,La Grande évasion,The Great Escape,"Durant la Seconde Guerre Mondiale, des officie...","[Aventure, Drame]",1963-09-11,2h 49min,"Steve McQueen,Charles Bronson,James Donald,Don...",John Sturges,11201,381,"4,3","3,8",The Great Escape,NaN,NaN,"$227,940","$227,940",NaN
30,L'Insulte,L'Insulte,"A Beyrouth, de nos jours, une insulte qui dégé...",[Drame],2018-01-31,1h 49min,"Adel Karam,Kamel El Basha,Diamand Abou Abboud,...",Ziad Doueiri,1396,153,"4,3","3,8",The Insult,NaN,"$1,001,305","$2,600,298","$3,601,603",NaN
31,"3 Billboards, Les Panneaux de la vengeance","Three Billboards Outside Ebbing, Missouri",Après des mois sans que l'enquête sur la mort ...,[Drame],2018-01-17,1h 56min,"Frances McDormand,Woody Harrelson,Sam Rockwell...",Martin McDonagh,10757,757,"4,3","3,9","Three Billboards Outside Ebbing, Missouri",NaN,"$54,513,740","$105,678,291","$160,192,031",NaN
32,Rain Man,Rain Man,"A la mort de son père, Charlie Babbitt, homme ...",[Comédie dramatique],1989-03-15,2h 13min,"Dustin Hoffman,Tom Cruise,Valeria Golino,Jerry...",Barry Levinson,38520,937,"4,3","3,6",Rain Man,"$25,000,000","$172,825,435","$182,000,000","$354,825,435",329825435.0
33,Hatchi,Hachi: A Dog's Tale,"Pour Parker, professeur de musique à l'univers...","[Drame, Famille]",2010-06-09,1h 33min,"Richard Gere,Joan Allen,Sarah Roemer,Cary-Hiro...",Lasse Hallström,4562,1039,"4,3","2,2",Hachi: A Dog's Tale,NaN,NaN,"$46,749,646","$46,749,646",NaN
34,Toy Story 4,Toy Story 4,Woody a toujours privilégié la joie et le bien...,"[Animation, Aventure, Famille, Comédie]",2019-06-26,1h 40min,NaN,Josh Cooley,9086,577,"4,3","4,2",Toy Story 4,"$200,000,000","$434,038,008","$639,356,585","$1,073,394,593",873394593.0
35,E.T. l'extra-terrestre,E.T. The Extra-Terrestrial,Une soucoupe volante atterrit en pleine nuit p...,"[Science fiction, Famille, Aventure]",1982-12-01,2h 00min,"Henry Thomas,Drew Barrymore,Dee Wallace,Peter ...",Steven Spielberg,57249,1253,"4,3","4,8",E.T. the Extra-Terrestrial,"$10,500,000","$435,110,554","$304,203,888","$792,910,554",782410554.0
36,Le Prestige,The Prestige,"Londres, au début du siècle dernier... Robert ...","[Thriller, Drame]",2006-11-15,2h 08min,"Hugh Jackman,Christian Bale,Michael Caine,Scar...",Christopher Nolan,35297,2809,"4,3","3,2",The Prestige,"$40,000,000","$53,089,891","$56,586,420","$109,676,311",69676311.0
37,La Vie est belle,La vita e bella,"En 1938, Guido, jeune homme plein de gaieté, r...","[Drame, Comédie]",1998-10-21,1h 57min,"Roberto Benigni,Horst Buchholz,Marisa Paredes,...",Roberto Benigni,56636,1620,"4,4","3,7",Life Is Beautiful,NaN,"$57,563,264","$172,535,489","$230,098,753",NaN
38,Quand passent les cigognes,Letyat Zhuravli,"Moscou, 1941. Veronika et Boris sont éperdumen...","[Drame, Guerre, Romance]",1958-06-11,1h 37min,"Tatiana Samoilova,Aleksey Batalov,Vasili Merku...",Mikhail Kalatozov,465,66,"4,3","4,2",The Cranes Are Flying,NaN,"$17,923",NaN,"$17,923",NaN
39,Tu ne tueras point,Hacksaw Ridge,"Quand la Seconde Guerre mondiale a éclaté, Des...","[Drame, Biopic]",2016-11-09,2h 20min,"Andrew Garfield,Vince Vaughn,Teresa Palmer,Sam...",Mel Gibson,18316,1058,"4,4","3,0",Hacksaw Ridge,"$40,000,000","$67,209,615","$113,241,303","$180,450,918",140450918.0
40,Usual Suspects,The Usual Suspects,"Suite à une mystérieuse dénonciation, cinq cri...","[Policier, Thriller]",1995-07-19,1h 46min,"Chazz Palminteri,Kevin Spacey,Gabriel Byrne,Be...",Bryan Singer,51673,2041,"4,5","4,6",The Usual Suspects,"$6,000,000","$23,341,568",NaN,"$23,341,568",17341568.0
41,Vol au-dessus d'un nid de coucou,One Flew Over the Cuckoo's Nest,Rebellion dans un hôpital psychiatrique à l'in...,[Drame],1976-03-01,2h 09min,"Michael Berryman,Dean R. Brooks,Jack Nicholson...",Milos Forman,37799,1364,"4,5","5,0",One Flew Over the Cuckoo's Nest,"$3,000,000","$108,981,275","$16,354","$108,997,629",105997629.0
42,Inception,Inception,Dom Cobb est un voleur expérimenté – le meille...,"[Science fiction, Thriller]",2010-07-21,2h 28min,"Leonardo DiCaprio,Marion Cotillard,Elliot Page...",Christopher Nolan,96978,8526,"4,5","4,1",Inception,"$160,000,000","$292,576,195","$544,260,772","$836,836,967",676836967.0
43,Your Name,Kimi no na wa.,"Mitsuha, adolescente coincée dans une famille ...","[Animation, Fantastique]",2016-12-28,1h 50min,NaN,Makoto Shinkai,10988,627,"4,5","4,0",Your Name.,NaN,"$5,017,246","$352,968,841","$357,986,087",NaN
44,"The Dark Knight, Le Chevalier Noir",The Dark Knight,"Dans ce nouveau volet, Batman augmente les mis...","[Action, Thriller]",2008-08-13,2h 32min,"Christian Bale,Heath Ledger,Aaron Eckhart,Magg...",Christopher Nolan,91527,6455,"4,5","4,0",The Dark Knight,"$185,000,000","$534,858,444","$471,115,201","$1,005,973,645",820973645.0
45,12 hommes en colère,Twelve Angry Men,Un jeune homme d'origine modeste est accusé du...,[Drame],1957-09-04,1h 35min,"Henry Fonda,Martin Balsam,John Fiedler,Lee J. ...",Sidney Lumet,17170,807,"4,5","5,0",12 Angry Men,NaN,NaN,$955,$955,NaN
46,Le Parrain,The Godfather,"En 1945, à New York, les Corleone sont une des...","[Policier, Drame]",1972-10-18,2h 55min,"Marlon Brando,Al Pacino,James Caan,Robert Duvall",Francis Ford Coppola,49869,1856,"4,5","4,6",The Godfather,"$6,000,000","$134,966,411","$111,154,575","$246,120,986",240120986.0
47,Les Evadés,The Shawshank Redemption,"En 1947, Andy Dufresne, un jeune banquier, est...",[Drame],1995-03-01,2h 20min,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...",Frank Darabont,51426,1881,"4,5","3,2",The Shawshank Redemption,"$25,000,000","$28,699,976","$117,315","$28,817,291",3817291.0
48,La Liste de Schindler,Schindler's List,Evocation des années de guerre d'Oskar Schindl...,"[Historique, Guerre]",1994-03-02,3h 15min,"Liam Neeson,Ben Kingsley,Ralph Fiennes,Carolin...",Steven Spielberg,56947,1904,"4,6","4,2",Schindler's List,"$22,000,000","$96,898,818","$225,262,427","$322,161,245",300161245.0
49,Il était une fois en Amérique,Once Upon a Time in America,"Il était une fois deux truands juifs, Max et N...","[Drame, Policier]",1984-05-23,4h 11min,"Robert De Niro,James Woods,Elizabeth McGovern,...",Sergio Leone,19539,1093,"4,5","4,9",Once Upon a Time in America,NaN,"$5,321,508","$151,406","$5,472,914",NaN

In [235]:
def recherche(moviename):
    if (moviename in list(df_movies['title'])):
        return (df_movies.loc[list(df_movies['title']).index(moviename)])
    else:
        return ('Movie not found in database')

In [277]:
print(recherche('Slumdog Millionaire'))
print('-------------------')
print(recherche('Intouchable'))

title                                     Slumdog Millionaire
titleint                                  Slumdog Millionaire
synop       Jamal Malik, 18 ans, orphelin vivant dans les ...
genre                  [Comédie dramatique, Comédie, Romance]
date                                      2009-01-14 00:00:00
duree                                                2h 00min
cast             Dev Patel,Freida Pinto,Mia Drake,Anil Kapoor
real                                              Danny Boyle
nbrnote                                                 51296
nbrcrit                                                  2985
notepub                                                   4,3
notepre                                                   3,5
titleen                                   Slumdog Millionaire
budget                                            $15,000,000
boxdom                                           $141,319,928
boxint                                           $237,090,614
boxtot                                           $378,410,542
rent                                              3.63411e+08
Name: 25, dtype: object
-------------------
Movie not found in database

In [278]:
collection.delete_many({})
collection.insert_many(df_movies.to_dict(orient='records'))

In [279]:
#### ZONE DE TEST #####

In [280]:
def sortfilm(condition, genre, nbr):
    genrefilter = ['Action', 'Animation', 'Aventure', 'Biopic', 'Comédie', 'Comédie dramatique', 'Comédie musicale', 'Documentaire', 'Drame', 'Epouvante-horreur', 'Famille', 'Fantastique', 'Guerre', 'Historique', 'Musical', 'Policier', 'Romance', 'Science fiction', 'Thriller', 'Western', 'Divers']
    #On trie en fonction de la condition
    if (condition == "bestpub"): 
        trie = [('notepub',-1), ('nbrnote',-1)]
        info = {'title':1, 'notepub':1, 'nbrnote':1, 'genre':1}
        legend = ['Titre', 'Genre(s)', 'Nombre de note', 'Note']
    elif (condition == "bestpre"):
        trie = [('notepre',-1), ('nbrnote',-1)]
        info = {'title':1, 'notepre':1, 'nbrnote':1, 'genre':1}
        legend = ['Titre', 'Genre(s)', 'Nombre de note', 'Note']
    elif (condition == "recent"):
        trie = [('date',-1)]
        info = {'title':1, 'date':1, 'genre':1}
        legend = ['Titre', 'Genre(s)', 'Date (Y-m-d)']
    elif (condition == "ancien"):
        trie = [('date',1)]
        info = {'title':1, 'date':1, 'genre':1}
        legend = ['Titre', 'Genre(s)', 'Date (Y-m-d)']
    elif (condition == "rent"):
        trie = [('rent',-1)]
        info = {'title':1, 'rent':1, 'genre':1}
        legend = ['Titre', 'Genre(s)', 'Rentabilité']
    elif (condition == "long"):
        trie = [('duree',-1)]
        info = {'title':1, 'duree':1, 'genre':1}
        legend = ['Titre', 'Genre(s)', 'Durée']
    elif (condition == "court"):
        trie = [('duree',1)]
        info = {'title':1, 'duree':1, 'genre':1}
        legend = ['Titre', 'Genre(s)', 'Durée']
    
    #On ajoute le filtre pour le genre
    if (genre != 'All') : genrefilter = [genre]
    
    #On récupère
    movielist = collection.find({'genre': {'$in' : genrefilter}}, info).sort(trie)
    
    data=[]
    data.append(legend)
    for k in (list(movielist)[:nbr]):
        data.append(list(k.values())[1:])
    if ('Date (Y-m-d)' in data[0]):
        for l in data[1:]: l[-1]=str(l[-1]).split()[0]
        
    #On affiche le résultat
    return(data)

In [281]:
def selectmovie(moviename):
    movieinfo = collection.aggregate([{'$match': {'title' : moviename}}])
    if (movieinfo == []):
        return("Movie not found")
    else:
        return(list(movieinfo))

In [282]:
sortfilm('recent', 'All', 5)

[['Titre', 'Genre(s)', 'Date (Y-m-d)'],
 ['J’irai mourir dans les Carpates', ['Comédie', 'Thriller'], '2020-09-16'],
 ['La Voie de la justice', ['Biopic', 'Drame'], '2020-01-29'],
 ['1917', ['Drame', 'Guerre'], '2020-01-15'],
 ['Les Enfants du temps', ['Animation', 'Drame', 'Romance'], '2020-01-08'],
 ['Le Mans 66', ['Biopic', 'Drame'], '2019-11-13']]